:root{
    --azul:#0066ff;
    --second:'Press Start 2P', cursive;
    --passion:'Passion One', cursive;
}
body{
    padding: 0;
    margin:0;
    background-color: var(--azul);
    background-image:url(/images/fondocampobatalla.jpg);
    color: white;
    width: 100;
}
main{
    width: 100%;
    /* height: 16rem; */
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#campodebatalla{
    display: flex;
    flex-direction: column;
    border:2px solid black;
    width: 80%;
    align-items: center;
    height: 25rem;
}
.equipo1,
.equipo2{
    display:flex;
    /* flex-direction: column; */
}
.equipo1 ul,
.equipo2 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* width: 80%; */
    /* margin-top: 6rem; */
}
.equipo1 ul li,
.equipo2 ul li{
    display:flex;
    justify-content: space-between;
    
}
.equipo1 ul li img{
    transform: rotate(180deg);
}
li img{
    max-width: 70%;
    max-height: 120px; 
}


button{
    display: flex;
    margin: 0 auto;
    margin-top:4rem;
    padding: 1.4rem 4rem;
    font-family: var(--passion);
    font-weight: 700;
    font-size: 4rem;
    background-image: url(/images/fondo-boton.jpg);
    color:var(--azul);
}
button:hover{
    color:red;
    transform:scale(1.1, 1.2) ;
}
.consola{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width:100px;
    width:20%;
    background-color: black;
    font-family: var(--second);
    max-height: 404px;
    overflow:auto;
}
h1{
    text-align: center;
    font-family: var(--second);
}
.equipos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.equipos h3{
    font-family: var(--second);
    font-size: 1,4rem;
}
.naves{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navesimperio,
.navesrebeldes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navesimperio p,
.navesrebeldes p{
    font-family: var(--second);
}
.navesimperio input,
.navesrebeldes input{
    /* padding: 2rem .35rem; */
    background-color: transparent;
    color: white;
    border:1px solid white;
    text-align: center;
    font-family: var(--second);
}
.empezar input{
    display: flex;
    margin:0 auto;
    margin-top: 4rem;
}
